body{
    background-color: #E8E8E8;
}


header{
    min-height: 81px;
    width:95.2%;
    margin: auto;
}
main{
    height:3670px;
}
.a_tnr{
    font-family: 'Times New Roman', Times, serif;
}
.a_logo{
    cursor:pointer;
}
.a_menu{
    padding-left: 10px;
}
ul >li>a:hover{
    background-color: #EDEDED;
}
.a_menu >li >a{
    border-radius: 3px;
}
.a_menu >li:hover .a_submenu{
    display: block;
}
.a_submenu{
    width:100px;
    display: none;
}
.mt-5.a_mt-5 {
    margin-top: 5rem!important;
}

.a_footer1{
    height:261px;
}
.a_footer2{
    height:112px;
}
.a_footer3{
    height:480px;
}
.a_footer4{
    height:298px;
}
.a_footer5{
    height:98px;
}
::-webkit-input-placeholder {
 
   font-size: 15px;
   font-weight: bold;
   color:#333!important;
   opacity:0.5!important;
}
 
 :-moz-placeholder { /* Firefox 18- */
 
   font-size: 15px;
   font-weight: bold;
   color:#333!important;
   opacity:0.5!important;
}
 
 ::-moz-placeholder {  /* Firefox 19+ */
 
   font-size: 15px;
   font-weight: bold;
   color:#333!important;
   opacity:0.5!important;
}
 
 /* Overriding styles */
 
 ::-webkit-input-placeholder {
 
   font-size: 15px!important;
   font-weight: bold;
   color:#333!important;
   opacity:0.5!important;
}
 
 :-moz-placeholder { /* Firefox 18- */
 
   font-size: 15px!important;
   font-weight: bold;
   color:#333!important;
   opacity:0.5!important;
}
 ::-moz-placeholder {  /* Firefox 19+ */
 
   font-size: 15px!important;
   font-weight: bold;
   color:#333!important;
   opacity:0.5!important;
}


@media screen and (max-width: 576px)
{
    .a_form_col{
        height: 50px;
    }
    header{
        width:100%;
    }
    .a_mt-5{
        padding-top: 30px;
    }
   footer{
    position: fixed;
    bottom:0px;
    left: 0px;
    width:100%;
   }
  
}




@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1445px;}
}
